/*
 * Manual Device tree adjustments
*/

// PS uarts can only have alias serial0 and serial1, otherwise driver cannot load correctly
/ {
    aliases {
        serial0 = &uart1;
        serial1 = &axi_uartlite_0;
        serial2 = &axi_uart16550_0;
    };
};

// Make SPI1 to be spidev compatible in order to access it in user space
&spi1 {
    spidev@0 {
        compatible = "spidev";
        spi-max-frequency = <50000000>;
        reg = <0>;
    };
    spidev@1 {
        compatible = "spidev";
        spi-max-frequency = <50000000>;
        reg = <1>;
    };
    spidev@2 {
        compatible = "spidev";
        spi-max-frequency = <50000000>;
        reg = <2>;
    };
};

// Add xadc channels so that they are available in user space
&xadc_wiz_0 {
    xlnx,channels {
        #address-cells = <1>;
        #size-cells = <0>;
        channelJA4@7 {
            reg = <7>;
        };
        channelJA2@8 {
            reg = <8>;
        };
        channelJA1@15 {
            reg = <15>;
        };
        channelJA3@16 {
            reg = <16>;
        };
    };
};
